.img {
    max-width: 100%; 
    height: auto;
}
.top{
    display: flex;
}
.eleje{
    font-weight: 500;
}

.font--sm {
    font-size: 16px;
}

.font--md {
    font-size: 18px;
}

.font--lg {
    font-size: 25px;
}

.bekezdesek {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

.bekezdesek p {
    line-height: 1.4;
}

.bekezdesek span {
    font-weight: 500;
}

.bekezdesek li {
    list-style-type: square;
    line-height: 1.5;
}

.bekezdesek ul {
    padding: 10px 40px;
    margin-block: 15px;
}

h2 {
    font-size: 25px;
    margin-bottom: 45px;
    text-transform: uppercase;
}

h3 {
    line-height: 1.2;
    font-weight: 400;
}

h4 {
    font-style: italic;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}